<html>
<head>
    <title>Twitch Plays Tinder</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.10.0/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pace/0.5.7/themes/black/pace-theme-bounce.css">    
</head>

<body ondragstart="return false">
<div centered logo><img src="/images/logo.png" alt=""></div>

    <div id="person">
        <div centered id="person-images">
            <img id="main-img" src="/images/tinder.jpg" height="75%" id="tinder-image" />
        </div>
        <div lg-container centered id="person-details">

            <div id="person-name">Meet Karen</div><div id="person-age">she's 20</div>
            <div id="person-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam et quod tempore, quas unde vitae consectetur fuga maxime culpa, error quae praesentium dolorum cupiditate eum! Explicabo, amet eaque sed sit?</div>
            <div id="past">Also met Tor, Bor</div>

            <button id="dislike" onclick="nextPerson()">Left</button>
            <button id="like" onclick="nextPerson()">Right</button>            
        </div>
    </div>
<script src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pace/0.5.7/pace.min.js"></script>
    <script>
			var list = {};
			var personCount = 0; 
			var pastPeople = [];

			$(document).ready(function(){
				
				// listen for key taps
				$(document).keydown(function(event){
    				// if (event.keyCode == 39) {
    				// 	nextPerson();
    				// };

    				// if (event.keyCode == 37) {
    				// 	nextPerson();
    				// };	      
    				if (event.keyCode == 76) {
    					nextPerson();
    				};

    				if (event.keyCode == 82) {
    					nextPerson();
    				};	         
		        });

		        pollForPeople();
				nextPerson();
		        
				// get data
				function pollForPeople() {
					$.ajax({
						url: '/main/get',
						// url: '../js/sample.json',
						data: '',
						type: 'GET',
						crossDomain: true,
						success: function(data){
							list = data;
							nextPerson();
						},
						error: function(){
							console.log("Could not load data.")
						}						
					});
				}

				// now replaces user object with image 
				function nextPerson(){
					if (personCount < 5) {
						$("#main-img").attr('src', list.results[personCount].photos[personCount].processedFiles[0].url);

						//calculate age
						$("#person-age").text((list.results[personCount].birth_date).slice(0,10) -(list.results[personCount].ping_time).slice(0,10));
						var year = (list.results[personCount].birth_date).slice(0,4);
						var month = (list.results[personCount].birth_date).slice(5,7);
						var day = (list.results[personCount].birth_date).slice(8,10);

						var newYear = (list.results[personCount].ping_time).slice(0,4);
						var newMonth = (list.results[personCount].ping_time).slice(5,7);
						var newDay = (list.results[personCount].ping_time).slice(8,10);

						var calcAge = (newYear - year);
						//stil doesn't account for all cases
						$("#person-age").text(calcAge);

						$("#person-name").text(list.results[personCount].name);
						console.log("date: " + (list.results[personCount].birth_date).slice(0,10))
						pastPeople += list.results[personCount].name + ", ";
						$("#person-desc").text(list.results[personCount].bio);
						$("#past").text("Past: " + pastPeople);
						
						personCount++;
					}
					else {
						personCount = 0;
						pollForPeople();
					}									
				}
			});
		</script>
</body>

</html>
