<html>
	<head>
		<link rel="stylesheet" href="/styles/styles.css"/>
		<link rel="stylesheet" href="/styles/galaxy.css">
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body ondragstart="return false">
	<header>
		<ul>
			<li><img src="/images/logo.png" height="30"></li>
		</ul>
	</header>
		<div id="person">
			<div id="person-images">
				<center>
					<img src="/images/testpic.jpg" height="75%" id="tinder-image" />
				</center>
			</div>
			<div id="person-details">
				<div id="person-age">
					24
				</div>
				<div id="person-name">
					My Name
				</div>
				<div id="person-desc">
					My description.
				</div>
				<div id="past">
					Past:
				</div>
			</div>
		</div>
	</body>
</html>