<html>

<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.10.0/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pace/0.5.7/themes/black/pace-theme-bounce.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.10.0/js/addons/notify.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pace/0.5.7/pace.min.js"></script>
    <script>
			var list = {};
			var personCount = 0; 
			var pastPeople = [];

			$(document).ready(function(){
				
				// listen for key taps
				$(document).keydown(function(event){
    				if (event.keyCode == 39) {
    					nextPerson();
    				};

    				if (event.keyCode == 37) {
    					nextPerson();
    				};	               
		        });

		        pollForPeople();
				nextPerson();
		        
				// get data
				function pollForPeople() {
					$.ajax({
						// url: '/main/get',
						url: '../js/sample.json',
						data: '',
						type: 'GET',
						crossDomain: true,
						success: function(data){
							list = data;
							console.log(list.results[0].photos[0].processedFiles[0].url);
							console.log(list);
							nextPerson();
						},
						error: function(){
							console.log("Could not load data.")
						}						
					});
				}

				// now replaces user object with image 
				function nextPerson(){
					if (personCount < 5) {
						$('#main-img').attr('src', list.results[personCount].photos[personCount].processedFiles[0].url);
						$("#person-age").text((list.results[personCount].birth_date).slice(0,10) -(list.results[personCount].ping_time).slice(0,10));
						$("#person-name").text(list.results[personCount].name);
						pastPeople += list.results[personCount].name + ", ";
						$("#person-desc").text(list.results[personCount].bio);
						$("#past").text("Past: " + pastPeople);
						
						personCount++;
					}
					else {
						personCount = 0;
						pollForPeople();
					}

									
				}
			});
		</script>
</head>

<body ondragstart="return false">

    <div id="person">
        <div centered id="person-images">
            <img id="main-img" src="/images/tinder.jpg" height="75%" id="tinder-image" />
        </div>
        <div lg-container centered id="person-details">

            <div id="person-name">Meet Karen</div><div id="person-age">she's 20</div>
            <div id="person-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam et quod tempore, quas unde vitae consectetur fuga maxime culpa, error quae praesentium dolorum cupiditate eum! Explicabo, amet eaque sed sit?</div>
            <div id="past">Also met Tor, Bor</div>

            <button id="like" onclick="nextPerson()">Like</button>
            <button id="dislike" onclick="nextPerson()">Dislike</button>
        </div>
    </div>

</body>

</html>
