*:focus, *:active {
    outline: none;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica sans-serif;
    font-size: 16px; /* Changing this will enlarge the entire framework */
    outline: 0;
    margin: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
a {
	color: inherit;
    opacity: $lg-opacity;
	text-decoration: none;
}
a:hover {
    opacity: 1;
}
p {
    font-size: 1.3em;
}
i:after {
    content: "\00a0"
}
$headings:h1 h2 h3 h4 h5 h6;
@each $heading in $headings {
    $i: index($headings, $heading);
    $i-weight: $i * 100;
    #{$heading}
    {
        font-size: 3em - $i / 3;
        @if ($i-weight < 200) {
            font-weight: 500 - $i-weight;
        }
        @else {
            font-weight: 300;
        }
    }
}
hr {
    display: block;
    width: 20%;
    margin: 50px auto 50px auto;
    border: #eee 1px solid;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
@media (max-width: 768px) {
    img {
        height: auto;
    }
}
disabled {
    border: 1px solid #ccc;
    background-color: #fff;
}
button,
fieldset {
    border: #eee 1px solid;
}
li {
    list-style: none;
    display: inline;
}

code {
    border: #eee 1px solid;
    border-radius: 3px;
    padding: 5px;
}