/* Transparency */

[xsm-opacity]
{
    opacity: .5;
}
[sm-opacity]
{
    opacity: .6;
}
[md-opacity]
{
    opacity: .7;
}
[lg-opacity]
{
    opacity: .8;
}
[xlg-opacity] {
    opacity: .9;
}

/* Alignment */

[g~='left'],
[left]
{
    left: 0;

    float: left !important;
}
[g~='right'],
[right]
{
    right: 0;

    float: right !important;
}

header ul[right] > li[right] {
    float: right;
}

/* Image containers */

[circle] {
    $circle-size: 10rem;
    height: $circle-size;
    width: $circle-size;
    border-radius: 50%;
}

[thumbnail] {
    border-radius: 6px;
}
/* Positions */

[g~='fixed']
{
    position: fixed !important;
}
[parallax]
{
    background-attachment: fixed !important;
}
[g~='absolute']
{
    position: absolute !important;
}

[g~='center'],
[g~='centered'],
[centered],
[center]
{
    margin: 0 auto;

    text-align: center;
}
/* Layers */

[g~='l1']
{
    z-index: 1;
}
[g~='l2']
{
    z-index: 2;
}
[g~='l3']
{
    z-index: 3;
}
[g~='l4']
{
    z-index: 4;
}
[g~='l5']
{
    z-index: 5;
}
[g~='l6']
{
    z-index: 6;
}
/* Sizes */

[g~='full width']
{
    width: 100%;
}
[g~='half width']
{
    width: 100%;
}
[g~='full height']
{
    height: 100%;
}
[g~='relative']
{
    position: relative;
}
[g~='static']
{
    position: static;
}
[g~='small']
{
    font-size: 12px;

    padding: 0 10px;
}
[g~='large']
{
    font-size: 18px;

    padding: 20px 35px;
}
/* Font Weight */

[g~='bold'],
[g~='bolded']
{
    font-weight: bold;
}
[g~='light'],
{
    font-weight: 500;
}
[g~='skinny'],
[g~='thin']
{
    font-weight: 300;
}
[g~='italic']
{
    font-weight: italic;
}
/* Mouse Cursors */

[g~='hand']
{
    cursor: pointer;
}
/* Colors */

[g~='white'],
[white]
{
    color: #fff;
}
[g~='notextshadow']
{
    text-shadow: none;
}
/* Displays */

[g~='inline']
{
    display: inline;
}
/* Padding */

[g~='sm-padding']
{
    padding: 20px;
}
[g~='md-padding']
{
    padding: 50;
}
[g~='lg-padding']
{
    padding: 100px;
}
[fixed]
{
    position: fixed;
}

[g~="lg-container"][padding], [g~="md-container"][padding], [g~="sm-container"][padding], [g~="xsm-container"][padding] {
    padding: 1rem;
}