/* Fields without text */
input[type='checkbox'],
input[type='radio'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='week'],
input[type='number'],
input[type='tel'],
input[type='color'],
select
{
    display: inline;

    margin: 1%;
}

/* All fields */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='week'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='color'],
select,
textarea
{
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.25em;

    position: relative;

    min-height: 38px;
    padding: 0;

    -webkit-transition: border-color .3s ease;
            transition: border-color .3s ease;
    text-indent: 5%;
    text-overflow: ellipsis;

    color: #333;
    background: #fff;

    @include dark-border;
    @include border-box;
    @include no-appearance;
}


/* All fields with text */


input[type='checkbox'],
input[type='radio'],
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='search'],
input[type='tel'],
textarea
{
    border: darken($default-color, 25) 1px solid;
    &:hover {
            box-shadow: inset 0 1px 3px $light-grey;
    }
    &:focus {

            border: $primary-color 1px solid;
    box-shadow: inset 0 1px 3px $light-grey;
    }
    &:focus:invalid {
        border: $default-color 1px solid;
    }
}

form[g~='stacked']
{
    display: block;
}

select
{
    border: 1px solid $light-grey;
}

label
{
    padding: $md-padding;

    cursor: pointer;
}

fieldset
{
    padding: $sm-padding;

    @include light-border;
}

[g~='stacked'] > input[type='text'],
[g~='stacked'] > input[type='email'],
[g~='stacked'] > input[type='password'],
[g~='stacked'] > input[type='submit'],
[g~='stacked'] > button
{
    width: 100%;
    margin-bottom: .5rem;
}


[g~='grouped'] > input[type='text'],
[g~='grouped'] > input[type='email'],
[g~='grouped'] > input[type='password'],
[g~='grouped'] > input[type='submit'],
[g~='grouped'] > button
{
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 0;

    border-radius: 0;
}

[g~='grouped'] > input[type='text']:first-child,
[g~='grouped'] > input[type='email']:first-child,
[g~='grouped'] > input[type='password']:first-child,
[g~='grouped'] > input[type='submit']:first-child,
[g~='grouped'] > button:first-child
{
    display: block;

    margin-bottom: 0;

    border-radius: 3px 3px 0 0;
}

[g~='grouped'] > input[type='text']:last-child,
[g~='grouped'] > input[type='email']:last-child,
[g~='grouped'] > input[type='password']:last-child,
[g~='grouped'] > input[type='submit']:last-child,
[g~='grouped'] > button:last-child
{
    display: block;

    margin-top: 0;

    border-radius: 0 0 3px 3px;
}

input[g~='transparent']
{
    font-size: 1.66em;
    font-weight: 400;

    color: #fff;
    border: 0;
    background: transparent;
}
input[g~='transparent']:hover
{
    box-shadow: none;
}
input[g~='transparent']:focus
{
    border: 0;
    box-shadow: none;
}

/* Tables */

table th,
table td
{
    padding: 1em;

    border-bottom: 1px solid $light-grey;
}

table > tbody
{
    color: $dark-grey;
}
